#footer-container {
  width: 100%;
  padding: 20px;
}

#main-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  transition: max-height 0.45s ease;
  max-height: 1000px
}

#main-footer-container.collapsed {
  max-height: 0;
  overflow: hidden;
}

#iGEM-name-container {
  display: flex;
  justify-content: center;
  width: 30%;
  min-height: 150px;
  padding: 10px;
}

#sponsor-container {
  display: flex;
  width: 66%;
  min-height: 150px;
 /* padding: 10px */
}

#link-container,
#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  min-height: 150px;
  padding: 10px;
}

#link-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sponsor-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-top: 10px;
}

.logo img {
  height: 50px;
}

#footer-toggle-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
}

#footer-toggle {
  padding: 5px 10px;
  border-radius: 9999px;
}

#footer-toggle:hover {
  background-color: crimson;
  color: aliceblue;
  transition: 0.2s ease-in-out
}